<%= render 'tabs' %>


<table id="stats">
  <tbody>
    <tr><th>Times user has <%=show_current_tag%>'d</th><td class="r"><%= @total_lold.count%></td></tr>  
    <tr><th>Number of posts <%=show_current_tag%>'d</th><td class="r"><%= @total_posts.count%></td></tr>  
    <tr><th>Number of total <%=show_current_tag%>s</th><td class="r"><%= @total_lols.count%></td></tr>  
  </tbody>
</table>

