<%= format_date current_date %>
<% @links.each do |link| %>
  <li id="thread_<%= link %>">
      <div class="votes lolz">
        <a name="26773395"></a><span class="count"><a href=
        "http://www.shacknews.com/chatty?id=26773395" class="permalink" title=
        "Permalink">71</a></span> <span class="lol-button" id="lol_26773395">[<a target=
        "lazy" href=
        "report.php?who=filthysock&amp;what=26773395&amp;tag=lol&amp;version=-1&amp;ajax=1"
        id="lol26773395" class="c1" name="lol26773395">lol</a>]</span>
      </div>

      <div class="post">
        <div class="postmeta">
          <a href="http://www.shacknews.com/chatty?id=26773395#item_26773395" class=
          "permalink" title="Permalink"><img src="img/permalink.gif" alt="#26773395"
          width="16" height="16" /></a><span class="post-author">By <a href=
          "user.php?authoredby=rock+elf">rock elf</a></span><span class=
          "post-date">2011-09-26 16:46:00</span>
        </div>

        <div class="postbody">
          I was not expecting to see <i>that</i> tattoo when I scrolled up.<br />
          <br />
          <a target="_blank" rel="nofollow" href=
          "http://chattypics.com/files/infocus_9nvwtojsnf.jpg">http://chattypics.com/files/infocus_9nvwtojsnf.jpg</a>
        </div>

        <div class="loldby">
          <a href="user.php?loldby=duncandun">duncandun</a>, <a href=
          "user.php?loldby=homeboyJim">homeboyJim</a>, <a href=
          "user.php?loldby=%5Bfry%5D">[fry]</a>, <a href=
          "user.php?loldby=Degenerate">Degenerate</a>, <a href=
          "user.php?loldby=denixen">denixen</a>, <a href=
          "user.php?loldby=ThomW">ThomW</a>, <a href=
          "user.php?loldby=AlexXdude">AlexXdude</a>, <a href=
          "user.php?loldby=Marrbe">Marrbe</a>, <a href=
          "user.php?loldby=deject">deject</a>, <a href=
          "user.php?loldby=uglysad">uglysad</a>, <a href=
          "user.php?loldby=handofthrawn">handofthrawn</a>, <a href=
          "user.php?loldby=Haxim">Haxim</a>, <a href="user.php?loldby=entity">entity</a>,
          <a href="user.php?loldby=Danny5225">Danny5225</a>, <a href=
          "user.php?loldby=Majuju">Majuju</a>, <a href=
          "user.php?loldby=Majuju">Majuju</a>, <a href=
          "user.php?loldby=zakazi">zakazi</a>, <a href=
          "user.php?loldby=FPSDavid">FPSDavid</a>, <a href=
          "user.php?loldby=Nixx2004">Nixx2004</a>, <a href=
          "user.php?loldby=Rice-Rocketeer">Rice-Rocketeer</a>, <a href=
          "user.php?loldby=stimpyboy-knob-">stimpyboy-knob-</a>, <a href=
          "user.php?loldby=DrWaffles">DrWaffles</a>, <a href=
          "user.php?loldby=mojoald">mojoald</a>, <a href=
          "user.php?loldby=umegastar">umegastar</a>, <a href=
          "user.php?loldby=nyranger66">nyranger66</a>, <a href=
          "user.php?loldby=Ivory+Moclips">Ivory Moclips</a>, <a href=
          "user.php?loldby=niceguynick">niceguynick</a>, <a href=
          "user.php?loldby=dex.collins">dex.collins</a>, <a href=
          "user.php?loldby=Talonus.">Talonus.</a>, <a href=
          "user.php?loldby=dfay">dfay</a>, <a href="user.php?loldby=durajim">durajim</a>,
          <a href="user.php?loldby=Bamtan">Bamtan</a>, <a href=
          "user.php?loldby=laurgasms">laurgasms</a>, <a href=
          "user.php?loldby=h+o+s+t+i+l+e">h o s t i l e</a>, <a href=
          "user.php?loldby=nem00">nem00</a>, <a href=
          "user.php?loldby=silaslang">silaslang</a>, <a href=
          "user.php?loldby=dumb.">dumb.</a>, <a href="user.php?loldby=Xevo">Xevo</a>,
          <a href="user.php?loldby=Snuffles-">Snuffles-</a>, <a href=
          "user.php?loldby=Korban">Korban</a>, <a href="user.php?loldby=kabex">kabex</a>,
          <a href="user.php?loldby=breadsticks">breadsticks</a>, <a href=
          "user.php?loldby=jeffmoeller">jeffmoeller</a>, <a href=
          "user.php?loldby=das_runt">das_runt</a>, <a href=
          "user.php?loldby=smax">smax</a>, <a href=
          "user.php?loldby=Rex_the_Runt">Rex_the_Runt</a>, <a href=
          "user.php?loldby=chungathebunga">chungathebunga</a>, <a href=
          "user.php?loldby=Rooster+Cockburn">Rooster Cockburn</a>, <a href=
          "user.php?loldby=jasoncrowley">jasoncrowley</a>, <a href=
          "user.php?loldby=Busdriver3030">Busdriver3030</a>, <a href=
          "user.php?loldby=systatic">systatic</a>, <a href=
          "user.php?loldby=thetangent">thetangent</a>, <a href=
          "user.php?loldby=Dave-A">Dave-A</a>, <a href=
          "user.php?loldby=Dschinghis+Khan">Dschinghis Khan</a>, <a href=
          "user.php?loldby=rosewood">rosewood</a>, <a href=
          "user.php?loldby=Megara9">Megara9</a>, <a href=
          "user.php?loldby=drucifer">drucifer</a>, <a href=
          "user.php?loldby=Merconium">Merconium</a>, <a href=
          "user.php?loldby=shirif">shirif</a>, <a href=
          "user.php?loldby=ArtilleryMarker">ArtilleryMarker</a>, <a href=
          "user.php?loldby=mrblarg">mrblarg</a>, <a href=
          "user.php?loldby=JozhGoober">JozhGoober</a>, <a href=
          "user.php?loldby=ass-street">ass-street</a>, <a href=
          "user.php?loldby=pukerat">pukerat</a>, <a href=
          "user.php?loldby=wendigo">wendigo</a>, <a href="user.php?loldby=xsii">xsii</a>,
          <a href="user.php?loldby=soggybagel">soggybagel</a>, <a href=
          "user.php?loldby=ant_hillbilly">ant_hillbilly</a>, <a href=
          "user.php?loldby=SymGeo">SymGeo</a>, <a href=
          "user.php?loldby=dontdrop">dontdrop</a>, <a href=
          "user.php?loldby=Chipwarrior">Chipwarrior</a>
        </div>
      </div>
    </li>
  
<% end %>
<div>
<%= prev_day = format_date(current_date - 1.day) %>
<%= link_to "<< #{prev_day}", "?date=#{prev_day}" %> 
<%= next_day = format_date(current_date + 1.day) %>
<%= link_to "#{next_day} >>", "?date=#{next_day}" %> 
</div>



